{% extends 'RealtimeAPS/base.html' %}

{% block body_block %}
<div class="pr-235">
    <form class="pr-5" action="{% url 'RealtimeAPS:projects' %}" method="POST">
        {% csrf_token %}
        <h2>List of all projects</h2>
        <div class="list-action float-left">
            <input class="btn btn-sm btn-success" type="submit" name="action" value="Add">
            <input class="btn btn-sm btn-danger" type="submit" name="action" value="Remove">
        </div>
        <table class="table table-bordered table-sm">
            <thead class="bg-1" style="color: #e0fbfc;">
                <tr>
                    <th scope="col" style="width: 35px;">#</th>
                    <th scope="col" style="width: 250px;">Project name</th>
                    <th scope="col" style="width: 300px;">Usernames</th>
                    <th scope="col" style="width: 300px;">Sensors</th>
                </tr>
            </thead>
            <tbody>

                {% for p in projects %}
                    <tr>
                        <td><input type="checkbox" name="{{ p.pk }}"></td>
                        <td><a href="{% url 'RealtimeAPS:project_detail' pk=p.pk %}">{{ p.name }}</a></td>
                        <td>
                            
                            {% if p.projects.all %}
                                <select class="px-2 bg-2" name="username">
                                    
                                    {% for u in p.projects.all %}
                                        <option value="{{ u.user.username }}">{{ u.user.username }}</option>
                                    {% endfor %}

                                </select>
                            {% else %}
                                No assigned users
                            {% endif %}
                            
                        </td>
                        <td>

                            {% if p.sensors.all %}
                                <select class="px-2 bg-2" name="sensor">
                                    
                                    {% for s in p.sensors.all %}
                                        <option>{{ s }}</option>
                                    {% endfor %}
                                        
                                </select>
                            {% else %}
                                No attached sensors
                            {% endif %}
                            
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </form>
</div>
{% endblock %}