{% extends 'RealtimeAPS/base.html' %}

{% block body_block %}
    <div class="container-fluid w-100 pr-235 my-2">
        <form id="data-upload-form" action="{% url 'DataManagement:data' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row h-100 rounded border border-dark pt-3">
                <div class="col-lg-3 col-md-6 col-12 h-100">
                    <div class="form-group">
                        <label for="project_name">Project Name</label>
                        <select id="proj_sel" class="form-control border-dark" name="project_name" onchange="update_sensors(this.value)">
                            
                            {% for p in projects %}
                                <option value="{{ p.name }}">{{ p.name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 h-100">
                    <div class="form-group">
                        <label for="sensor_number">Sensor Number</label>
                        <select id="sensor_sel" class="form-control border-dark" name="sensor_number" onchange="select_sensor(this.value)">
                            
                        </select>
                    </div>
                </div>
                <div class="col-lg-1 col-md-3 col-6 h-100">
                    <label class="pb-3" for=""></label> <br>
                    <input class="btn btn-success border border-dark" type="submit" name = "action" value="Archive">
                </div>
                <div class="col-lg-1 col-md-3 col-6 h-100">
                    <label class="pb-3" for=""></label> <br>
                    <input class="btn btn-danger border border-dark" type="submit" name = "action" value="Delete">
                </div>
            </div>
        </form>
    </div>
    <div class="pr-235">
        <form class="pr-5" action="{% url 'RealtimeAPS:projects' %}" method="POST">
            {% csrf_token %}
            <h2>Logs</h2>
            <p id="sensor_p" style="display: inline;">sensor</p> @
            <p id="proj_p" style="display: inline;">project</p>
            <div style="height: 330px; overflow-y: scroll;">
                <table class="table table-bordered table-sm">
                    <thead class="bg-1" style="color: #e0fbfc;">
                        <tr>
                            <th scope="col" style="width: 300px;">Logged time</th>
                            <th id="attr1" scope="col" style="width: 250px;"></th>
                            <th id="attr2" scope="col" style="width: 250px;"></th>
                            <th id="attr3" scope="col" style="width: 250px;"></th>
                        </tr>
                    </thead>
                    <tbody id="logdata"></tbody>
                </table>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        function httpGet(theUrl) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open("GET", theUrl); // false for synchronous request
            xmlHttp.send();
            return xmlHttp;
        }

        function update_logs(proj, serial) {
            var xmlHttp = httpGet("/data/"+proj+"/"+serial+"/");
            xmlHttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var res = JSON.parse(xmlHttp.responseText);
                    var attrs = res['attrs'];
                    var logs = res['logs'];
                    document.querySelector("#attr1").innerHTML = attrs[0];
                    document.querySelector("#attr2").innerHTML = attrs[1];
                    document.querySelector("#attr3").innerHTML = attrs[2];
                    var tbl = document.querySelector("#logdata");
                    tbl.innerHTML = "";
                    logs.forEach(log => {
                        let row = tbl.insertRow();
                        let loggedtime = row.insertCell(0);
                        let attr1 = row.insertCell(1);
                        let attr2 = row.insertCell(2);
                        let attr3 = row.insertCell(3);
                        loggedtime.innerHTML = log['logged_time']
                        attr1.innerHTML = log[attrs[0].toLowerCase()];
                        attr2.innerHTML = log[attrs[1].toLowerCase()];
                        attr3.innerHTML = log[attrs[2].toLowerCase()];
                    });
                }
            }
        }

        function update_sensors(proj) {
            var data = JSON.parse("{{ sensors|escapejs }}");
            var proj_p = document.querySelector("#proj_p");
            var sensor_p = document.querySelector("#sensor_p");
            proj_p.innerHTML = proj;
            sensor_p.innerHTML = data[proj][0];
            update_logs(proj, sensor_p.innerHTML);
            var sel = document.querySelector("#sensor_sel");
            while (sel.children.length != 0) {
                sel.removeChild(sel.lastElementChild);
            }
            for (var s in data[proj]) {
                var opt = document.createElement('option');
                opt.value = data[proj][s];
                opt.innerHTML = data[proj][s];
                sel.appendChild(opt);
            }
        }
        var proj = document.querySelector("#proj_sel").value;
        update_sensors(proj);

        function select_sensor(serial) {
            var proj_p = document.querySelector("#proj_p");
            var sensor_p = document.querySelector("#sensor_p");
            sensor_p.innerHTML = serial;
            update_logs(proj_p.innerHTML, sensor_p.innerHTML);
        }
    </script>
{% endblock %}

